
.about-banner .carousel-caption {
    position: absolute;
    left: 13%;
    top: 35%;
    right: 0;
    text-align: left;
}
.about-banner .carousel-caption h1 {
    color: #fff;
}

.about h2 {
    color: #133852;
    font-weight: 600;
    font-size: 32px;
}
.about h4 {
    font-size: 19px;
    margin-bottom: 14px;
    color: #750303;
    font-weight: 600;
}
.about h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 14px;
    color: #444;
}
.about p {
    font-size: 17px;
    line-height: 29px;
}

@media (min-width: 320px) and (max-width: 375px) {
    .about-banner .carousel-caption {
        position: absolute;
        left: 6%;
        top: 12%;
    }
    .about-banner .carousel-caption h1 {
        font-size: 13px;
    }
    .about h4 {
        font-size: 16px;
    }
    .about h3 {
        font-size: 15px;
        line-height: 22px;
    }
    .about p {
        font-size: 15px;
        line-height: 25px;
    }
}
@media (min-width: 376px) and (max-width: 414px) {
    .about-banner .carousel-caption {
        position: absolute;
        left: 5%;
        top: 19%;
    }
    .about-banner .carousel-caption h1 {
        font-size: 15px;
    }
    .about h4 {
        font-size: 19px;
        line-height: 27px;
    }
    .about h3 {
        font-size: 19px;
        line-height: 27px;
    }
    .about p {
        font-size: 15px;
        line-height: 25px;
    }
}
@media (min-width: 415px) and (max-width: 568px) {
    .about-banner .carousel-caption {
        position: absolute;
        left: 5%;
        top: 19%;
    }
    .about-banner .carousel-caption h1 {
        font-size: 18px;
    }
    .about h4 {
        font-size: 21px;
        line-height: 29px;
    }
    .about h3 {
        font-size: 23px;
        line-height: 31px;
    }
    .about p {
        font-size: 16px;
        line-height: 25px;
    }
}
@media (min-width: 569px) and (max-width: 674px) {
    .about-banner .carousel-caption {
        position: absolute;
        left: 5%;
        top: 19%;
    }
    .about-banner .carousel-caption h1 {
        font-size: 22px;
    }
}











