
.about h2 {
    color: #133852;
    font-weight: 600;
    font-size: 32px;
}
.about h4 {
    font-size: 19px;
    margin-bottom: 14px;
    color: #750303;
    font-weight: 600;
}
.about h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 14px;
    color: #444;
}
.about p {
    font-size: 17px;
    line-height: 29px;
}













