
p {
	color: #545454;
}

.bg-light {
    background: none !important;
}
.bg-light .navbar-nav .nav-link {
    padding: 15px 8px;
    color: #133852 !important;
    text-transform: uppercase;
	font-weight: 700;
	margin: 13px 8px;
}
.bg-light .navbar-nav .nav-link:hover {
    color: #133852;
    font-weight: 700;
}
.bg-light .navbar-nav .active .nav-link {
    color: #fff;
    font-weight: 700;
}
.navbar-brand img {
    width: 210px;
}


@media (min-width: 320px) and (max-width: 375px) {
    .navbar-brand img {
        width: 150px;
    }
}

#navbarContent {
    position: absolute;
    width: 100%;
    top: 64px;
    background-color: #020c20;
    z-index: 9999;
}
.bg-light .navbar-nav .nav-link {
    border-bottom: 1px solid #053544;
    padding: 10px 15px;
}






