
p {
	color: #545454;
}

.bg-light {
    background: none !important;
}
.bg-light .navbar-nav .nav-link {
    padding: 15px 8px;
    color: #133852 !important;
    text-transform: uppercase;
	font-weight: 700;
	margin: 13px 8px;
}
.bg-light .navbar-nav .nav-link:hover {
    color: #133852;
    font-weight: 700;
}
.bg-light .navbar-nav .active .nav-link {
    color: #fff;
    font-weight: 700;
}
.navbar-brand img {
    width: 210px;
}


@media (min-width: 320px) and (max-width: 375px) {
    .navbar-brand img {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        background-color: #020c20;
    }
    #navbarContent {
        position: absolute;
        width: 100%;
        top: 73px;
        left: 0;
        z-index: 9999;
    }
    .bg-light .navbar-nav .nav-link {
        border-bottom: 1px solid #053544;
        padding: 5px 10px;
        margin: 0;
        color: #fff !important;
        font-size: 16px !important;
    }
    .navbar-light .navbar-toggler {
        background-color: #eaeaea;
    }
}






