
@media (max-width: 768px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar {
        padding: 0px 8px 0px 0px;
    }
}

/* navigation bar & banner */
@media (min-width: 320px) and (max-width:375px) {
    .navbar-brand img {
        width: 160px;
    }
    .home-banner {
        background: url('../images/home/banner-375.webp') no-repeat;
        height: 500px;
        background-position: center center;
        background-size: cover;
    }
    .home-banner-caption {
        position: absolute;
        top: 71%;
        right: 0;
        left: 0;
    }
    .home-banner-caption h1 {
        font-size: 18px;
        line-height: 22px;
    }
    .home-banner-caption .btn-primary {
        width: 113px;
        font-size: 13px;
        padding: 7px 13px;
        margin-top: 3px;
    }
    .home-banner-caption .btn-info {
        width: 113px;
        font-size: 13px;
        padding: 7px 13px;
        margin-top: 3px;
    }
}
@media (min-width: 376px) and (max-width:414px) {
    .navbar-brand img {
        width: 175px;
    }
    .home-banner {
        background: url('../images/home/banner-375.webp') no-repeat;
        height: 500px;
        background-position: center center;
        background-size: cover;
    }
    .home-banner-caption {
        position: absolute;
        top: 74%;
        right: 0;
        left: 0;
    }
    .home-banner-caption h1 {
        font-size: 18px;
        line-height: 22px;
    }
    .home-banner-caption .btn-primary {
        width: 113px;
        font-size: 13px;
        padding: 7px 13px;
        margin-top: 7px;
    }
    .home-banner-caption .btn-info {
        width: 113px;
        font-size: 13px;
        padding: 7px 13px;
        margin-top: 7px;
    }
}
@media (min-width: 414px) and (max-width:568px) {
    .navbar-brand img {
        width: 180px;
    }
    .home-banner {
        background: url('../images/home/banner-568.jpg') no-repeat;
        height: 500px;
        background-position: center center;
        background-size: cover;
    }
    .home-banner-caption {
        position: absolute;
        top: 74%;
        right: 0;
        left: 0;
    }
    .home-banner-caption h1 {
        font-size: 18px;
        line-height: 22px;
    }
    .home-banner-caption .btn-primary {
        width: 113px;
        font-size: 13px;
        padding: 7px 13px;
        margin-top: 8px;
    }
    .home-banner-caption .btn-info {
        width: 113px;
        font-size: 13px;
        padding: 7px 13px;
        margin-top: 8px;
    }
}
@media (min-width: 568px) and (max-width:674px) {
    .navbar-brand img {
        width: 190px;
    }
    .home-banner {
        background: url('../images/home/banner-375.webp') no-repeat;
        height: 500px;
        background-position: center center;
        background-size: cover;
    }
    .home-banner-caption {
        position: absolute;
        top: 77%;
        right: 0;
        left: 0;
    }
    .home-banner-caption h1 {
        font-size: 18px;
        line-height: 22px;
    }
    .home-banner-caption .btn-primary {
        width: 113px;
        font-size: 13px;
        padding: 7px 13px;
        margin-top: 8px;
    }
    .home-banner-caption .btn-info {
        width: 113px;
        font-size: 13px;
        padding: 7px 13px;
        margin-top: 8px;
    }
}
/* //navigation bar & banner */

/* CTA line */
@media (min-width: 320px) and (max-width: 375px) {
    .cta-line h2 {
        font-size: 17px;
        line-height: 25px;
    }
}
@media (min-width: 376px) and (max-width: 414px) {
    .cta-line h2 {
        font-size: 20px;
        line-height: 28px;
    }
}
@media (min-width: 415px) and (max-width: 568px) {
    .cta-line h2 {
        font-size: 22px;
        line-height: 31px;
    }
}
@media (min-width: 569px) and (max-width: 674px) {
    .cta-line h2 {
        font-size: 28px;
        line-height: 39px;
    }
}
/* CTA line */

/* simple steps */
@media (min-width: 320px) and (max-width: 375px) {
    .simple-steps h2 {
        font-size: 20px;
        line-height: 29px;
    }
    .simple-steps h3 {
        font-size: 16px;
        line-height: 21px;
    }
    .simple-steps img {
        display: inline-block;
        margin-top: 30px;
    }
    .simple-steps h4 {
        margin-top: 37px;
        font-size: 19px;
        line-height: 28px;
    }
    .simple-steps-text p {
        font-size: 15px;
        text-align: justify;
        line-height: 25px;
    }
    .simple-steps .offset-1 {
        margin-left: 0px;
    }
}
@media (min-width: 376px) and (max-width: 414px) {
    .simple-steps h2 {
        font-size: 22px;
        line-height: 31px;
    }
    .simple-steps h3 {
        font-size: 14px;
        line-height: 21px;
    }
    .simple-steps img {
        display: inline-block;
        margin-top: 30px;
    }
    .simple-steps h4 {
        margin-top: 37px;
        font-size: 19px;
        line-height: 28px;
    }
    .simple-steps-text p {
        font-size: 15px;
        text-align: justify;
        line-height: 25px;
    }
    .simple-steps .offset-1 {
        margin-left: 0px;
    }
}
@media (min-width: 415px) and (max-width: 568px) {
    .simple-steps h2 {
        font-size: 22px;
        line-height: 32px;
    }
    .simple-steps h3 {
        font-size: 15px;
        line-height: 23px;
    }
    .simple-steps img {
        display: inline-block;
        margin-top: 30px;
    }
    .simple-steps h4 {
        margin-top: 37px;
        font-size: 23px;
        line-height: 31px;
    }
    .simple-steps-text p {
        font-size: 15px;
        text-align: justify;
        line-height: 25px;
    }
    .simple-steps .offset-1 {
        margin-left: 0px;
    }
}
@media (min-width: 569px) and (max-width: 674px) {
    .simple-steps h2 {
        font-size: 22px;
        line-height: 32px;
    }
    .simple-steps h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .simple-steps img {
        display: inline-block;
        margin-top: 30px;
    }
    .simple-steps h4 {
        margin-top: 37px;
        font-size: 26px;
        line-height: 36px;
    }
    .simple-steps-text p {
        font-size: 15px;
        text-align: justify;
        line-height: 25px;
    }
    .simple-steps .offset-1 {
        margin-left: 0px;
    }
}

/* //simple steps */

/* how we grow */
@media (min-width: 320px) and (max-width: 375px) {
    .how-we-grow h4 {
        font-size: 18px;
        line-height: 25px;
    }
    .how-we-grow p {
        font-size: 15px;
        line-height: 26px;
    }
    .how-we-grow .card-body h2 {
        font-size: 18px;
        line-height: 26px;
    }
    .how-we-grow .card-body p {
        font-size: 15px;
        line-height: 27px;
    }
    .how-we-grow ul {
        padding-inline-start: initial;
    }
    .how-we-grow ul li {
        font-size: 11px;
    }
    .how-we-grow ul li img {
        margin-right: 0px;
    }
}

@media (min-width: 376px) and (max-width: 414px) {
    .how-we-grow h4 {
        font-size: 20px;
        line-height: 29px;
    }
    .how-we-grow p {
        font-size: 15px;
        line-height: 26px;
    }
    .how-we-grow .card-body h2 {
        font-size: 19px;
        line-height: 26px;
    }
    .how-we-grow .card-body p {
        font-size: 15px;
        line-height: 27px;
    }
    .how-we-grow ul {
        padding-inline-start: initial;
    }
    .how-we-grow ul li {
        font-size: 13px;
    }
    .how-we-grow ul li img {
        margin-right: 3px;
    }
}
@media (min-width: 415px) and (max-width: 568px) {
    .how-we-grow h4 {
        font-size: 22px;
        line-height: 31px;
    }
    .how-we-grow p {
        font-size: 15px;
        line-height: 26px;
    }
    .how-we-grow .card-body h2 {
        font-size: 19px;
        line-height: 26px;
    }
    .how-we-grow .card-body p {
        font-size: 15px;
        line-height: 27px;
    }
    .how-we-grow ul {
        padding-inline-start: initial;
    }
    .how-we-grow ul li {
        font-size: 15px;
    }
    .how-we-grow ul li img {
        margin-right: 5px;
    }
}
@media (max-width: 768px) {
    .how-we-grow .card {
        margin-bottom: 26px;
    }
}
/* //how we grow */

/* make best */
@media (min-width: 320px) and (max-width: 375px) {
    .make-best h2 {
        font-size: 18px;
        line-height: 27px;
    }
    .make-best p {
        font-size: 15px;
    }
    .make-best-img {
        margin-bottom: 20px;
        text-align: center;
    }
    .make-best-text {
        text-align: center;
    }
    .make-best-text h3 {
        font-size: 18px;
        line-height: 26px;
    }
    .make-best-text p {
        font-size: 15px;
        line-height: 26px;
    }
}
@media (min-width: 376px) and (max-width: 414px) {
    .make-best h2 {
        font-size: 18px;
        line-height: 27px;
    }
    .make-best p {
        font-size: 15px;
    }
    .make-best-img {
        margin-bottom: 20px;
        text-align: center;
    }
    .make-best-text {
        text-align: center;
    }
    .make-best-text h3 {
        font-size: 20px;
        line-height: 26px;
    }
    .make-best-text p {
        font-size: 16px;
        line-height: 27px;
    }
}
@media (min-width: 415px) and (max-width: 568px) {
    .make-best h2 {
        font-size: 18px;
        line-height: 27px;
    }
    .make-best p {
        font-size: 15px;
    }
    .make-best-img {
        margin-bottom: 20px;
        text-align: center;
    }
    .make-best-text {
        text-align: center;
    }
    .make-best-text h3 {
        font-size: 20px;
        line-height: 26px;
    }
    .make-best-text p {
        font-size: 16px;
        line-height: 27px;
    }
}
@media (min-width: 569px) and (max-width: 674px) {
    .make-best h2 {
        font-size: 18px;
        line-height: 27px;
    }
    .make-best p {
        font-size: 15px;
    }
    .make-best-img {
        margin-bottom: 20px;
        text-align: center;
    }
    .make-best-text {
        text-align: center;
    }
    .make-best-text h3 {
        font-size: 23px;
        line-height: 30px;
    }
    .make-best-text p {
        font-size: 17px;
        line-height: 28px;
    }
}
/* //make best */

/* how we flourish */
@media (min-width: 320px) and (max-width: 375px) {
    .how-we-flourish .offset-1 {
        margin-left: 0px;
    }
    .how-we-flourish h2 {
        font-size: 18px;
        line-height: 23px;
    }
    .how-we-flourish p {
        font-size: 16px;
    }
    .pills-wrapper .nav-pills .nav-link {
        font-size: 12px;
        padding: 8px 10px;
    }
    .pills-wrapper {
        margin-bottom: 24px;
    }
    .flourish-content h3 {
        font-size: 18px;
        line-height: 25px;
    }
    .flourish-content p {
        font-size: 15px;
    }
    .flourish-content ul {
        padding-inline-start: initial;
    }
    .flourish-content ul li {
        display: flex;
        font-size: 15px;
        line-height: 26px;
        margin-bottom: 5px;
    }
}
@media (min-width: 376px) and (max-width: 414px) {
    .how-we-flourish .offset-1 {
        margin-left: 0px;
    }
    .how-we-flourish h2 {
        font-size: 18px;
        line-height: 23px;
    }
    .how-we-flourish p {
        font-size: 16px;
    }
    .pills-wrapper .nav-pills .nav-link {
        font-size: 14px;
        padding: 8px 10px;
    }
    .pills-wrapper {
        margin-bottom: 24px;
    }
    .flourish-content h3 {
        font-size: 20px;
        line-height: 28px;
    }
    .flourish-content p {
        font-size: 15px;
    }
    .flourish-content ul {
        padding-inline-start: initial;
    }
    .flourish-content ul li {
        display: flex;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 5px;
    }
}
@media (min-width: 415px) and (max-width: 568px) {
    .how-we-flourish .offset-1 {
        margin-left: 0px;
    }
    .how-we-flourish h2 {
        font-size: 18px;
        line-height: 23px;
    }
    .how-we-flourish p {
        font-size: 16px;
    }
    .pills-wrapper .nav-pills .nav-link {
        font-size: 16px;
        padding: 8px 10px;
    }
    .pills-wrapper {
        margin-bottom: 24px;
    }
    .flourish-content h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .flourish-content p {
        font-size: 16px;
    }
    .flourish-content ul {
        padding-inline-start: initial;
    }
    .flourish-content ul li {
        display: flex;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 5px;
    }
}
@media (min-width: 569px) and (max-width: 674px) {
    .how-we-flourish .offset-1 {
        margin-left: 0px;
    }
    .how-we-flourish h2 {
        font-size: 18px;
        line-height: 23px;
    }
    .how-we-flourish p {
        font-size: 16px;
    }
    .pills-wrapper .nav-pills .nav-link {
        font-size: 16px;
        padding: 8px 10px;
    }
    .pills-wrapper {
        margin-bottom: 24px;
    }
    .flourish-content h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .flourish-content p {
        font-size: 16px;
    }
    .flourish-content ul {
        padding-inline-start: initial;
    }
    .flourish-content ul li {
        display: flex;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 5px;
    }
}
/* //how we flourish */

/* phone whatsapp */
@media (min-width: 320px) and (max-width: 375px) { 
    .phone-whatsapp h4 {
        font-size: 20px; 
        line-height: 26px;
    }
    .phone-whatsapp img {
        width: 28px;
        height: 28px;
    }
    .phone-whatsapp .btn-primary {
        font-size: 14px;
    }
}
@media (min-width: 376px) and (max-width: 414px) { 
    .phone-whatsapp h4 {
        font-size: 22px; 
        line-height: 29px;
    }
    .phone-whatsapp img {
        width: 28px;
        height: 28px;
    }
    .phone-whatsapp .btn-primary {
        font-size: 15px;
    }
}    
@media (min-width: 415px) and (max-width: 568px) { 
    .phone-whatsapp h4 {
        font-size: 24px; 
        line-height: 31px;
    }
    .phone-whatsapp img {
        width: 28px;
        height: 28px;
    }
    .phone-whatsapp .btn-primary {
        font-size: 17px;
    }
}
/* //phone whatsapp */

/* footer */
@media (min-width: 320px) and (max-width: 375px) {
    footer .row .col-md-3:nth-child(1) {
        margin-bottom: 22px;
    }
    footer .row .col-md-3:nth-child(2) {
        margin-bottom: 22px;
    }
    footer .row .col-md-3:nth-child(3) {
        margin-bottom: 22px;
    }
    footer ul li {
        font-size: 14px;
    }
    footer ul li a {
        font-size: 16px;
    }
}
@media (min-width: 376px) and (max-width: 414px) {
    footer .row .col-md-3:nth-child(1) {
        margin-bottom: 22px;
    }
    footer .row .col-md-3:nth-child(2) {
        margin-bottom: 22px;
    }
    footer .row .col-md-3:nth-child(3) {
        margin-bottom: 22px;
    }
    footer ul li {
        font-size: 15px;
    }
    footer ul li a {
        font-size: 16px;
    }
}
@media (min-width: 415px) and (max-width: 568px) {
    footer .row .col-md-3:nth-child(1) {
        margin-bottom: 22px;
    }
    footer .row .col-md-3:nth-child(2) {
        margin-bottom: 22px;
    }
    footer .row .col-md-3:nth-child(3) {
        margin-bottom: 22px;
    }
    footer ul li {
        font-size: 16px;
    }
    footer ul li a {
        font-size: 17px;
    }
}
/* //footer */

