/* total state banner caption */
.total-state-banner .carousel-caption {
    position: absolute;
    top: 27%;
    left: 54%;
    right: 0;
}

/* inner state banner caption */
.state-inner-banner .carousel-caption {
    position: absolute;
    top: 30%;
    left: 60%;
    right: 0;
}
main h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    color: #464646;
}
main ul {
    margin-top: 23px;
}
main ul li {
    display: inline-block;
    list-style: none;
}
main .btn-group {
    display: inline-block;
    margin: 5px;
    text-align: center;
}
main .btn-secondary {
    background-color: #133852;
    border-color: #133852;
    padding: 10px 23px;
    border-radius: 100px;
    font-weight: 600;
    width: 171px;
    margin: 10px 4px;
    text-transform: capitalize;
}

.state-para p {
    color: #808080;
    font-size: 17px;
    line-height: 30px;
}

/* mobile responsive */

@media (min-width: 320px) and (max-width: 375px) {
    .total-state-banner .carousel-caption {
        position: absolute;
        top: 12%;
    }
    .total-state-banner .carousel-caption h1 {
        font-size: 12px;
    }
    .state-inner-banner .carousel-caption {
        position: absolute;
        top: 7%;
    }
    .state-inner-banner .carousel-caption h1 {
        font-size: 10px;
    }
    main .btn-secondary {
        font-size: 14px;
        width: 126px;
        padding: 12px 5px;
    }
}
@media (min-width: 376px) and (max-width: 414px) {
    .total-state-banner .carousel-caption {
        position: absolute;
        top: 12%;
    }
    .total-state-banner .carousel-caption h1 {
        font-size: 12px;
    }
    .state-inner-banner .carousel-caption {
        position: absolute;
        top: 9%;
    }
    .state-inner-banner .carousel-caption h1 {
        font-size: 12px;
    }
    main .btn-secondary {
        font-size: 14px;
        width: 145px;
        padding: 12px 5px;
    }
}
@media (min-width: 415px) and (max-width: 568px) {
    .total-state-banner .carousel-caption {
        position: absolute;
        top: 13%;
    }
    .total-state-banner .carousel-caption h1 {
        font-size: 14px;
    }
    .state-inner-banner .carousel-caption {
        position: absolute;
        top: 10%;
    }
    .state-inner-banner .carousel-caption h1 {
        font-size: 13px;
    }
    .state-inner-banner .carousel-caption h1 {
        font-size: 15px;
    }
    main .btn-secondary {
        font-size: 15px;
        width: 145px;
        padding: 12px 5px;
    }
}


@media (max-width: 768px) {
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


