@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,500,600,700&display=swap');
body { font-family: 'Poppins', sans-serif; }
h1, h2, h3, h4, h5, h6 { color: #424242; }
p { color: #575757; font-weight: 300; }
li { color: #575757; }


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}


/* navigation bar & banner */

.home-banner {
    position: relative;
    background: url('../images/home/banner.webp') no-repeat;
    background-position: center center;
    background-size: cover;
    height: 770px;
}
.home-banner-caption {
    position: absolute;
    left: 56%;
    top: 45%;
    right: 0;
    text-align: center;
}
.home-banner-caption h1 {
    font-size: 34px;
    color: #fff;
    line-height: 45px;
}
.home-banner-caption .btn-primary {
    width: 150px;
    background-color: #fb910a;
    border-color: #fb910a;
    border-radius: 100px;
    padding: 10px 18px;
    margin-right: 6px;
    margin-top: 16px;
}
.home-banner-caption .btn-info {
    width: 150px;
    background-color: #133852;
    border-color: #133852;
    border-radius: 100px;
    padding: 10px 18px;
    margin-top: 16px;
}

.bg-light {
    background: none !important;
}
.bg-light .navbar-nav .nav-link {
    padding: 23px 22px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
}
.bg-light .navbar-nav .nav-link:hover {
    color: #133852;
    font-weight: 600;
}
.bg-light .navbar-nav .active .nav-link {
    color: #fff;
    font-weight: 600;
}
.navbar-brand img {
    width: 210px;
}
/* //navigation bar & banner */

/* home banner */

/* //home banner */

/* CTA line */
.cta-line h2 {
    line-height: 48px;
    font-size: 30px;
    font-weight: 500;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 14px 0px;
}
.cta-line span {
    color: #b93795;
    font-weight: 700;
}
.cta-line i {
    font-style: normal;
    font-weight: 700;
    color: #133852;
}
/* //CTA line */

/* simple steps */
.simple-steps h2 {
    font-size: 28px;
    font-weight: 700;
}
.simple-steps h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 36px;
    color: #133852;
    margin-bottom: 30px;
}
.simple-steps-text h4 {
    color: #133852;
}
.simple-steps-text p {
    font-size: 17px;
    margin-top: 15px;
    line-height: 28px;
    font-weight: 400;
}
.simple-steps-heading-1 {
    margin-top: 134px;
}
.simple-steps-heading-2 {
    margin-top: 134px;
}
.simple-steps-heading-3 {
    margin-top: 134px;
}
/* //simple steps */

/* how we grow */
.how-we-grow {
    background-color: #f1f1f1;
}
.how-we-grow h4 {
    font-size: 28px;
    font-weight: 600;
    color: #133852;
    margin-bottom: 13px;
}
.how-we-grow p {
    font-size: 17px;
    line-height: 28px;
}
.how-we-grow .card-body p {
    font-size: 17px;
    line-height: 28px;
    margin-top: 14px;
    text-align: justify;
}
.how-we-grow ul {
    padding-inline-start: inherit;
    margin-top: 15px;
}
.how-we-grow ul li {
    list-style: none;
    margin-bottom: 12px;
    font-size: 17px;
}
.how-we-grow ul li img {
    margin-right: 10px;
    display: inline-block;
}
.how-we-grow .card-body {
    padding: 20px 20px;
}
.how-we-grow .card-body h2 {
    color: #133852;
    font-size: 30px;
}

.how-we-grow-list .btn-info {
    background-color: #b93795;
    border-color: #b93795;
    border-radius: 100px;
    padding: 13px 23px;
    font-weight: 600;
}
/* //how we grow */

/* what make us best */
.make-best {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}
.make-best h2 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    line-height: 40px;
}
.make-best p {
    font-size: 17px;
    color: #fff;
}
.make-best img {
    width: 64px;
    height: 64px;
}
.make-best-text h3 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.make-best-text p {
    margin-top: 14px;
    font-size: 17px;
    line-height: 28px;
    color: #fff;
}
/* //what make us best */

/* how we flourish */
.how-we-flourish h2 {
    font-size: 28px;
    font-weight: 600;
    color: #133852;
    line-height: 38px;
    margin-bottom: 15px;
}
.how-we-flourish p {
    font-size: 17px;
}
.how-we-flourish .pills-wrapper {
    padding: 25px 25px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #133852 !important;
    color: #fff !important;
}
.pills-wrapper .nav-pills .nav-link {
    padding: 13px 12px;
    color: #133852;
}
.flourish-content ul li {
    line-height: 33px;
    list-style: none;
    font-size: 17px;
}
.flourish-content ul li::before {
    content: '\f00c';
    font-size: 17px;
    display: inline-block;
    color: #133852;
    font-family: 'FontAwesome';
    padding-right: 15px;
}
/* //how we flourish */

/* phone whatsapp number */
.phone-whatsapp {
    background-color: #133852;
}
.phone-whatsapp h4 {
    color: #fff;
    font-size: 28px;
}
.phone-whatsapp .btn-primary {
    background-color: #fff;
    padding: 17px 28px;
    font-weight: 700;
    border-color: #133852;
    color: #133852;
    border-radius: 100px;
    margin-bottom: 12px;
}
.phone-whatsapp img {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 10px;
}
/* phone whatsapp number */

/* footer */
footer {
    background: url('../images/footer-bg.webp') no-repeat;
    padding: 50px 0px;
    background-position: center center;
    background-size: cover;
}
footer h5 {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    text-transform: capitalize;
}
footer ul {
    margin-top: 22px;
    padding-inline-start: inherit;
}
footer ul li {
    list-style: none;
    margin-bottom: 14px;
    color: #eaeaea;
    font-size: 18px;
    text-transform: capitalize;
}
footer ul li a {
    color: #eaeaea;
    font-size: 18px;
    text-transform: capitalize;
}
.footer-social li {
    display: inline-block;
}
.footer-social .fa {
    font-size: 40px;
    margin: 10px 5px;
}
/* //footer */


















